.container {
    .us-home {
        margin-top: 65px;
        align-items: center;

        .text-us-home {
            width: 400px;
        }
    }
}

.img-us {
    width: 500px;
    border-radius: 30px;
}